*.swp
*.pyc
~*
*.o
*.fits
*.npy
*.png
output
data
map_files
spectrum_files
*.out
*.slurm
__pycache__
*custom*
*code_for_later_use*
tod/config_files/*.yaml
!tod/config_files/default.yaml
*batch.sh
instruments/litebird_v28_20190715
spectra/camb_params/*.ini
