*.swp
*.pyc
~*
*.o
*.fits
*.npy
*.png
output
map_files/
spectrum_files/
*.out
*.slurm
__pycache__
noise/noise_rms_with_lmax.py
spectra/camb_params
spectra/run_camb.sh
spectra/spectra_files
maps/map_files
*custom*
instrument/*
timestream_simulation/job_launcher.sh
notebook
noise/fourier_analysis.py
huffman.py
timestream/genesys_to_comm.py
*.ipynb_checkpoints
*ipynb
