__pycache__
*.swp
*.pyc
~*
*.o
*.fits
*.npy
*.png
output
data
map_files
spectrum_files
*.out
__pycache__
*code_for_later_use*
*/config_files/*.yaml
!*/config_files/default.yaml
*batch.sh
instruments/litebird_v28_20190715
spectra/camb_params/*.ini
